.container {
  margin: 0 auto;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
}
.heading {
  margin: auto;
  color: blue;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  /* height: 15rem; */
  border: 1px;
  border-radius: 10px;
  background-color: red;
}
h2 {
  text-align: center;
}

button {
  margin: 5px;
}
